# Notion Integration (https://www.notion.so/my-integrations)
NOTION_TOKEN=

# Members / Schedule History DB ID (노션에서 수동 생성 후 ID 입력)
NOTION_MEMBERS_DB_ID=
NOTION_SCHEDULE_DB_ID=

# API 서버 포트
PORT=3001
